body {
    font-family: 'Rubik', sans-serif;
    background-color: #171717;
    color: white;
}
::selection {
    background-color: #bb0158;
    color: white;
}

.page-wrapper {
    display: flex;
    align-items: flex-start;
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}
.main-content {
    width: 80%;
    flex-direction: column;
    gap: 20px
}
.separator {
    width: 2px;             /* slightly thicker for visibility */
    background-color: #888; /* darker so you can see it */
    margin: 0 20px;
    height: auto;           /* will stretch to content height */
}
.left-column{
    flex: 1;
}
.side-menu {
    background-color: #0f0f0f;
    border-radius: 12px;
    padding: 15px;
    min-width: 150px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.side-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.side-menu li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 10px;
    transition: background 0.5s;
}
.side-menu li:hover {
    color: black;
    background-color: #d0d0d0;
}


.top-container {
    text-align: center;
}


.gotd-container {
    background-color: rgb(116, 116, 255);
    text-align: center;
    padding: 15px;
    border-radius: 12px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.gotd-container__title {
    font-size: 1.2rem;
}
.gotd-container__target {
    font-size: 2rem;
    font-weight: bold;
}
.gotd-container__progress-bar {
    width: 100%;
    height: 12px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 2px;
    overflow: hidden;
}
.gotd-container__progress-bar-filled {
    height: 100%;
    width: 70%;
    background-color: #fff;
    border-radius: 2px 0 0 2px;
    transition: width 0.3s ease;
}
.gotd-container__progress-text {
    font-size: 1rem;
}


.user-stats {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 0 auto;
    gap: 15px;
}
div[tag="stats-container"] {
    background-color: #4B6CB7;
    padding: 15px;
    border-radius: 12px;
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.user-level__icon,
.user-level__level {
    color: #B7FF4B;
}
.user-points__icon,
.user-points__points
{
    color: gold;
}
.user-streak__icon,
.user-streak__streak
{
    color: rgb(255, 136, 0);
}
div[tag="stats-container"] i {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-shadow: #171717 2px 2px 2px;
}
.user-level__level,
.user-points__points,
.user-streak__streak {
    font-weight: bold;
    font-size: 1.2rem;
}
p[tag="stat-description"] {
    font-size: 0.9rem;
    opacity: 80%;
}
.user-level__progress-bar {
    width: 100%;
    height: 10px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 2px;
    overflow: hidden;
    margin-top: 10px;
}
.user-level__progress-bar__filled {
    height: 100%;
    background-color: #B7FF4B;
    border-radius: 2px 0 0 2px;
}


.start-lesson-button {
    background-color: #0180bb;
    color: white;
    border: none;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    gap: 10px;
}